#weather{
  position: absolute;
  left: 70%;
  background: rgba(105, 105, 105, .3);
  border-radius: 15px;
  color: white;
  margin-top: 6%;
  margin-left: 0;
  padding: 0px;
  text-align: center;
}

.day{
  margin-top: 5px;
  width: 350px;
}

.wimg{
  margin-right: 150px;
  margin-left: 135px;
}

.separator{
  background-color: #ccc;
  border-radius: 100px;
  margin-left: 50px;
  width: 250px;
  height: 2px;
}
