#element::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

.main{
  background: url(aux_back.jpg);
  background-size: cover;
  display: inline-block;
  height: 100vh;
  width: 100vw;
}

div, img{
  float: left;
}

#clock{
  position: absolute;
  left: 1%;
  top: 5%;
  color: white;
  font-size:100px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #333;
}

#date{
  position: absolute;
  top: 20%;
  left: 3%;
  color: white;
  font-size:50px;
  margin-left: 10%;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #333;
}

#calendar{
  position: absolute;
  left: 40%;
  top: 27%;
  width: 29%;
  height: 72%;
  padding: 10px;
  background: rgba(105, 105, 105, .3);
  border-radius: 15px;
  color: white;
  text-align: center;
}
